.html-rezervace{
    padding: 50px;

    body{
        min-width: 90vh;
        .e-div-main {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

.bike-select{
 width: 90%;
 display: flex;
}

.e-div-reservation{
    height: 400px;
    margin: 20px;
    background: $transparent-blur-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 !important;

    :first-child  {
        background: rgba(255, 255, 255, 0);
        
    }
}

.zarez{
    width: auto;
    height: 20%;
    display: block;
    z-index: 10;
}

.c-inner-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 60%;


    ul {
        color: white;
    }
}
.c-inner-div2{
    display: flex;
    background-color: rgb(46, 46, 46);
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    padding: 5px;
    font-family: 'Russo One', sans-serif;
    font-family: 'Urbanist', sans-serif;

    a {
        height: auto;
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: white;
        text-decoration: none;
    }

    :first-child {
        display: flex;
        justify-content: start;
    }
}


.c-inner-div2-inner{
    padding: 10px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: right;
}


.img-kolo-rez{
    width: 100%;
    height: auto;
}

.div-rezervace{
    height: 100%;
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bike-discription{
    width: 60%;
    background-color: blueviolet;
}

.formular-zarez{
    width: 40%;
    background-color: chocolate;
}

#clicks {
    color: aliceblue;
} 
#clicks1 {
    color: aliceblue;
} 
#clicks2 {
    color: aliceblue;
} 