@import url('https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Urbanist&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Urbanist:wght@900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Urbanist:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Urbanist:wght@500;600;700;800;900&display=swap');




@import 'scss/elements/_header.scss';
@import 'scss/elements/_div.scss';
@import 'scss/elements/_div-reservation.scss';
@import 'scss/elements/_sec1.scss';
@import 'scss/elements/_footer.scss';


@import 'scss/components/_nav.scss';
@import 'scss/components/_table.scss';
@import 'scss/components/_carousel.scss';
@import 'scss/components/_odk.scss';
@import 'scss/components/_button.scss';
@import 'scss/components/_description.scss';




@import "bootstrap-4.0.0/scss/bootstrap.scss";

html {
    background-color: #222831 !important;
}
body{
    background-color: #222831 !important;
    overflow-x: hidden;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
}



@font-face {
    font-family: 'FONT-NADPIS';
    src: url('./Fontspring-DEMO-proximanovacond-extrabold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }