.nav {
    position: relative;
    //top: 30vh;
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: 'Russo One', sans-serif !important;
    z-index: 2;
}
.navbar-brand{
    font-family: 'Russo One', sans-serif !important;
    font-size: 5vw !important;
    color: rgb(255, 255, 255) !important;
    position: relative;
    z-index: 1;
    margin-left: 5vw;
    margin-right: 5vw !important;
}
.nav-link{
    color: rgb(255, 255, 255)  !important;
    margin: 1vw;
    vertical-align:middle;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: large;
    background-color: $transparent-blur-color-pills;
    border-radius: 20px !important;
    
}
.navbar-toggler{
    background-color: rgb(255, 255, 255)  !important;
}
.nav-link{
    display: flex !important;
    align-items: center;
   
}
.svg-nav{
    height: 1.5em;
    width: auto;
    color: rgb(255, 255, 255);
    margin-top: -2px;
    margin-right: 7px;
}
.nav-main-left{
    height: 100vh;
    width: 48vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media screen and (max-width: 1000px){
 
    .navbar-brand{
        position: absolute;
        top: 0;
        left: 0;
    }
 
}


//COOKIES BAR

#consentBox { 
    margin: 15px;
     
    background: #fff; 
    position: fixed;
    bottom: 0;
    background-origin: padding-box;
    padding: 20px; 
    border-radius: 15px; 
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center; 
    z-index: 100;
} 
  
#consentBox.hide { 
    opacity: 0; 
    pointer-events: none; 
    transform: scale(0.8); 
    transition: all 0.3s ease; 
} 
  
::selection { 
    color: #fff; 
    background: #229a0f; 
} 
  
#consentContent p { 
    color: #858585; 
    margin: 10px 0 20px 0; 
} 
  
#consentContent .buttons { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 20px; 
} 
  
.consentButton, 
.rejectButton { 
    padding: 12px 30px; 
    border: none; 
    outline: none; 
    color: #fff; 
    font-size: 16px; 
    font-weight: 500; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
} 
  
.consentButton { 
    background: #2a910b; 
    margin-right: 10px; 
} 
  
.rejectButton { 
    color: #ffffff; 
    background: transparent; 
    border: 2px solid #099c2c; 
    text-decoration: none; 
} 
  

#consentHeader { 
    font-size: 25px; 
    font-weight: 600; 
    margin-top: 10px; 
    color: white;
}

