tr, td {
    border: solid rgba(0, 0, 0, 0.247);
}

.tablefirst {
    color: rgb(224, 224, 224);
    background: $transparent-blur-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px !important;
    margin-top: 20px;

    a{
        //margin: 20px;
    }
}

.tablesecond{
    width: 100%;
}


@media screen and (max-width: 1000px){
 
 .tablefirst {
    margin: 20px;
    width: 100%;

 }
 .tablesecond {

    td {
        font-size: 10px;
    }
 }
 
}
